In [28]:
import numpy as np
import pandas as pd

In [22]:
# hw 2-1

lovely_loveseat_description = 'Lovely Loveseat. Tufted polyester blend on wood. 32 inches high x 40 inches wide x 30 inches deep. Red or white.'
lovely_loveseat_price = 254.00

stylish_settee_description = 'Stylish Settee. Faux leather on birch. 29.50 inches high x 54.75 inches wide x 28 inches deep. Black.'
stylish_settee_price = 180.5

luxurious_lamp_description = 'Luxurious Lamp. Glass and iron. 36 inches tall. Brown with cream shade.'
luxurious_lamp_price = 52.15

sales_tax = 0.088

customer_one_total = 0
customer_one_itemization = ""

customer_one_total = lovely_loveseat_price + luxurious_lamp_price
customer_one_tax = customer_one_total * sales_tax
customer_one_total += customer_one_tax

customer_one_itemization = f"{lovely_loveseat_description}{luxurious_lamp_description}"

print(f"Customer One Items:\n{customer_one_itemization}\nCustomer One Total:\n{customer_one_total}")

Customer One Items:
Lovely Loveseat. Tufted polyester blend on wood. 32 inches high x 40 inches wide x 30 inches deep. Red or white.Luxurious Lamp. Glass and iron. 36 inches tall. Brown with cream shade.
Customer One Total:
333.09119999999996

In [66]:
# hw 2-2

subjects = ['physics','calculus','poetry','history']
grades = [98,97,85,88]

gradebook = []

for i in range(len(subjects)):
    pair = [subjects[i], grades[i]]
    gradebook.append(pair)

gradebook.append(['computer science',100])
gradebook.append(["visual arts", 93])

gradebook[5][1] += 5
gradebook[2].remove(85)
gradebook[2].append("Pass")

last_semester_gradebook = [["politics", 80], ["latin", 96], ["dance", 97], ["architecture", 65]]

full_gradebook = last_semester_gradebook + gradebook

full_gradebook

[['politics', 80],
 ['latin', 96],
 ['dance', 97],
 ['architecture', 65],
 ['physics', 98],
 ['calculus', 97],
 ['poetry', 'Pass'],
 ['history', 88],
 ['computer science', 100],
 ['visual arts', 98]]

In [ ]:
# hw 2-3

hairstyles = ['bouffant', 'pixie', 'dreadlocks', 'crew', 'bowl', 'bob', 'mohawk', 'flattop']
prices = [30, 25, 40, 20, 20, 35, 50, 35]
last_week = [2, 3, 5, 8, 4, 4, 6, 2]

total_price = 0

for i in prices:
    total_price = total_price + i

average_price = total_price / len(prices)

new_prices = [price-5 for price in prices]

total_revenue = 0

for i in range(8):
    total_revenue = total_revenue + (prices[i] * last_week[i])

average_daily_revenue = total_revenue / 7

average_daily_revenue

cuts_under_30 = [hairstyles[i] for i in range(len(new_prices)) if new_prices[i] < 30]

cuts_under_30

['bouffant', 'pixie', 'crew', 'bowl']

In [4]:
# hw 2-4

def get_my_chosun_name(family_name, month, day):
    Month = ['쌍', '쇠', '복', '돌', '팽', '육', '쌍', '개', '칠', '갑', '삼', '방']
    Day = ['봉', '구', '욕', '포', '똥', '삼', '식', '석', '놈', '님', '년', '돌', '단', '득', '방', '질', '장', '걸', 
           '래', '룡', '동', '순', '자', '박', '창', '언', '것', '포', '만', '단', '국']

    new_month = Month[month-1]
    new_day = Day[day-1]
    
    return print(f"당신의 조선시대 이름은 {family_name}{new_month}{new_day}입니다")

get_my_chosun_name('박',5,12)

당신의 조선시대 이름은 박팽돌입니다